body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border:none;
    font-size: 2em;
    color: white;
    background: #00b0bd;
    box-shadow: 0px 0px 25px rgb(0, 238, 255);
    transition: 0.5s;
}


button::before, button::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 50%;
    width: 250px; 
    height: 250px; 
    border: 5px solid transparent; 
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(45deg); 
    pointer-events: none;
    animation: enter 1s ease-in-out;
    transition: 0.5s;
}

button::before {
    border-top: 7px solid #4b6150;
}

button::after {
    border-bottom: 7px solid #363b4e;
    animation-fill-mode: backwards;
}

@keyframes enter {
    0% {
        transform: translate(-50%, -50%)  rotate(0deg);
    }
    100% {
        transform:translate(-50%, -50%)  rotate(405deg);
    }
}

button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    border: 2px solid white;
}

button:hover {
    box-shadow: 0px 0px 50px rgb(0, 238, 255);    
}

button:hover::before, button:hover::after {
    height: 300px;
    width: 300px;
    transform:translate(-50%, -50%)  rotate(30deg)
}

button:hover a {
    border: 5px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

img {
    position: absolute;
    height: 150px;
    width: 150px;
    transition: 0.5s;
}

button:hover img {
    height: 100px;
    width: 100px;    
}